@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    min-width: 1440px;
    min-height: 1750px;
}

body {
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000000;
}

.line {
    width: 80px;
    height: 7px;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;

    background-color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*-----------------------------------хедер---------------------------*/

.main-header {
    position: relative;

    width: 1160px;
    min-height: 299px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 31.5px 57px;

    background-color: rgba(240, 197, 46, 0.5);

    box-sizing: border-box;
}

.logo {
    position: absolute;
    left: 59px;
    top: -17px;
}

.navigation {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    align-items: center;

    background-color: transparent;
}

.navigation-user-list,
.navigation-site-list,
.catalog-menu-list {
    list-style: none;
}

.navigation-user-list {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    flex-wrap: nowrap;

    justify-content: flex-end;
    align-items: center;

    width: 100%;
    margin: 0;
    margin-bottom: 29px;
    padding: 0;
}

.search {
    flex-basis: 50%;
    flex-shrink: 0;
}

.search__form {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */

    height: 49px;
    margin: 0;
    padding: 0;
    padding-left: 6px;
    padding-top: 3px;
}

.search__label {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    outline: none;
}

.search__label_border {
    border-bottom: 2px solid #000000;
}

.search__image {
    margin-right: 19px;
    margin-bottom: 0;
    padding: 0;
}

.search__input {
    margin: 0;
    padding: 0;

    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: #000000;

    background-color: inherit;
    border: none;
    opacity: 0.3;
}

.search__input:hover {
    opacity: 0.6;
}

.search__input:active,
.search__input:focus {
    opacity: 1.0;
    outline: none;
}

.link-button {
    display: inline-block;

    height: 100%;
    padding: 0;
    margin: 0;

    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: #000000;

    white-space: nowrap;
    vertical-align: middle;

    box-sizing: border-box;
}

.link-button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.link-button:focus,
.link-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.search__button {
    width: 85px;
    height: 49px;
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: #000000 solid 2px;
}

.search__button:hover {
    color: #ffffff;
    background-color: #000000;
}

.search__button:active,
.search__button:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
    outline: none;
}

.login {
    flex-basis: 100%;

    margin: 0;
    padding: 0;
}

.icon:hover {
    opacity: 0.6;
}

.icon:focus,
.icon:active {
    opacity: 0.3;
}

.user-image {
    margin: 0;
    margin-right: 9px;
    margin-left: 20px;
    padding: 0;
}

.user-name {
    margin: 0;
    padding: 0;
}

.compare {
    flex-basis: 50%;

    margin: 0;
    padding: 0;
}

.compare-image {
    margin-right: 6px;
    margin-left: 16px;
    padding: 0;
}

.main-header .cart {
    margin: 0;
    margin-right: 3px;
    padding: 0;
}

.cart-image {
    margin: 0;
    margin-left: 0;
    margin-right: 6px;
    padding: 0;

    opacity: 1.0;
}

.navigation-site-list {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;

    width: 100%;
    margin: 0;
    padding: 0;
}

.navigation-site-item {
    padding-left: 18px;
    padding-right: 16px;
}

.navigation-site-item:first-child {
    flex-basis: 50%;
    flex-shrink: 0;

    padding: 0;
    padding-left: 2px;

}

.navigation-site-item:last-child {
    flex-basis: 100%;

    padding: 0;

    text-align: right;
}

.catalog-link {
    position: relative;
}

.catalog-link::after {
    content: "";
    position: absolute;
    right: 277px;
    top: 4px;

    width: 16px;
    height: 16px;

    background-image: url("../img/plus.svg");
    opacity: 0.3;
}

.button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.button:active,
.button:focus {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-menu-list {
    position: absolute;
    top: 20px;
    left: -57px;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 2;

    display: none;
    width: 623px;
    min-height: 148px;

    margin: 0;
    padding: 0;
    padding-top: 18px;
    padding-left: 57px;
    padding-right: 480px;
    background-color: #f7e296;
}

.catalog-link:hover .catalog-menu-list {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
}

.catalog-menu-item {
    width: 180px;
    padding: 0;
    margin: 0;
}

.catalog-menu-item:nth-child(3n+2) {
    margin-left: 60px;
    margin-right: 20px;
}

.catalog-menu-item:last-of-type {
    width: 100%;
}

.catalog-menu-item a {
    margin: 0;
    padding: 0;

    line-height: 36px;
}

/*-------------------------------main--------------------------*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    margin-top: -110px;
    padding: 0;
}

/*слайдер*/
.promo {
    position: relative;

    width: 1160px;
    margin: 0 auto;
    padding: 0;
}

.promo h2 {
    margin: 0;
    padding: 0;
}

.promo-slider-list,
.promo-list {
    list-style: none;
}

.promo-slider-list {
    position: absolute;
    bottom: 247px;
    right: 81px;
    z-index: 1;

    margin: 0;
    padding: 0;
}

.promo-slider-item {
    display: inline-block;

    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;

    vertical-align: middle;

    background-image: url("../img/slider-button-empty1.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.promo-slider-item_current {
    background-image: url("../img/slider-button1.svg");
}

.promo-slider-item:not(:last-child) {
    margin-right: 13px;
}

.promo-list {
    margin: 0 auto;
    padding: 0;
}

.promo-list::before {
    content: "";
    position: absolute;
    top: 37px;
    right: 39.5%;

    width: 100px;
    height: 7px;
    margin: 0;
    padding: 0;

    background-color: #ffffff;
}

.promo-item {
    position: relative;

    display: flex;
    width: 1160px;
    min-height: 488px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 102px;
}

.promo-item::after {
    content: attr(data-value);

    position: absolute;
    right: 47px;
    top: -14px;
    z-index: 1;

    margin: 0;
    padding: 0;

    font-size: 179.2px;
    line-height: 179.2px;
    letter-spacing: 1.79px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    color: #ffffff;
    text-align: center;
}

.promo-item h3 {
    position: relative;
    z-index: 2;

    margin: 0;
    margin-top: 79px;
    padding: 0;

    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.47px;
    text-transform: none;
}

.promo-item p {
    margin: 0;
    margin-top: 19px;
    padding: 0;

    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #464646;
    text-transform: none;

    background-color: #ffffff;
}

.promo-item-image {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;

    width: 560px;
    margin: 0;
    margin-right: 40px;
    padding: 0;
}

.promo-item-image a {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;

    width: 100%;
}

.more {
    margin-top: 43px;
}

.gradient-button {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
    justify-content: center;

    width: 220px;
    height: 40px;
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;

    background: linear-gradient(to top, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
    border: none;
    outline: none;
}

.gradient-button:hover {
    background: #f0c52e;
}

.gradient-button:focus,
.gradient-button:active {
    color: rgba(0, 0, 0, 0.3);
    background: #f0c52e;
}

.promo-item-characteristics {
    width: 478px;
    margin: 0;
    margin-top: 48px;
    padding: 0;
}

.table-data,
.table-headers {
    margin: 0;
    padding: 0;
}

.table-data td {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;

    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
    font-weight: 400;
    font-family: "gilroylight", Arial, sans-serif;
    color: #000000;

    background-color: #ffffff;
    text-transform: none;
}

.table-headers td {
    margin: 0;
    padding: 0;

    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #464646;

    background-color: #ffffff;
    text-transform: none;
}

.promo-item-characteristics td:not(:last-child),
.promo-item-characteristics th:not(:last-child) {
    padding-right: 36px;
}

/*Категории товаров*/
.products {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 64px;
    padding: 0;
}

.products h2 {
    margin: 0;
    padding: 0;
}

.products-list {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;
}

.products-item {
    display: inline-block;

    margin-right: 40px;

    vertical-align: top;
}

.products-item:active,
.products-item:focus {
    opacity: 0.3;
}

.products-item__imgWrapper {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 160px;
    margin: 0;
    margin-bottom: 34px;
    padding: 0;

    background-color: rgba(240, 197, 46, 0.5);
}

p.products-item__imgWrapper:hover {
    background-color: rgba(240, 197, 46, 1.0);
}

.products-item:nth-child(2) .products-item__imgWrapper {
    align-items: flex-end;
}

.products-item h3 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: none;
}

/*Сервисы*/
.services {
    width: 100%;
    margin: 0;
    margin-bottom: 95px;
    padding: 0;
    padding-bottom: 67px;

    background: linear-gradient(to bottom, transparent 102px, #e5e5e5 102px, #e5e5e5 82.2%, #e5e5e5 82.2%);
}

.services h2 {
    margin: 0;
    padding: 0;
}

.services-wrapper {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    align-items: flex-start;

    width: 1160px;
    min-height: 319px;

    margin: 0 auto;
    padding: 0;

    background-color: transparent;
}

.services ul {
    list-style: none;
}

.services-list {
    flex-basis: 24%;
    flex-shrink: 0;

    min-height: 238px;
    margin: 0;
    padding: 0;
    padding-top: 80px;

    border-right: 7px solid #000000;
}

.services-item:not(:last-child) {
    margin-bottom: 24px;
}

.services-item .gradient-button.services-item_current::after {
    content: "";

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 278px;
    height: 40px;

    background: #000000
}

.services-button {
    position: relative;
    z-index: 1;

    width: 160px;
    padding-left: 5px;

    background: linear-gradient(to top, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}

.gradient-button.services-item_current {
    color: #f7e184;
}

.services-description-list {
    flex-basis: 72%;
    flex-shrink: 0;
}

.services-description-item {
    position: relative;
}

.services-description-item h3 {
    margin: 0;
    padding: 0;
    padding-left: 76px;
    padding-top: 54px;

    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    text-transform: none;
}

.services-description-item p {
    width: 437px;
    margin: 0;
    padding: 0;
    padding-left: 75px;
    padding-top: 31px;

    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: #464646;
}

.services-description-item-image {
    position: absolute;
    top: 68px;
    right: 8%;
}

/*Производители*/
.manufacturers {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
}

.manufacturers h2 {
    margin: 0;
    padding: 0;
}

.manufacturers-list {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;

    margin: 0;
    margin-bottom: 88px;
    padding: 0;

    list-style: none;
}

.manufacturers-item__image {
    opacity: 0.2;
}

.manufacturers_link:hover .manufacturers-item__image {
    display: none;
}

.manufacturers-item__image-hover {
    display: none;
}

.manufacturers_link:hover .manufacturers-item__image-hover {
    display: block;
}

/*О нас*/
.about-contracts-wrapper {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */

    width: 1160px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 82px;
}

.about {
    flex-shrink: 0;

    width: 462px;
    margin: 0;
    margin-right: 136px;
    padding: 0;
}

.about h2 {
    margin: 0;
    padding: 0;

    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    text-transform: none;
}

.about p {
    width: 478px;
    margin: 0;
    margin-top: 43px;
    margin-bottom: 30px;
    padding: 0;

    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #464646;

    background-color: #ffffff;
    text-transform: none;
}

.about-partners h3 {
    width: 478px;
    margin: 0;
    margin-bottom: 65px;
    padding: 0;

    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #464646;
    text-transform: none;

    background-color: #ffffff;
}

.about-partners-list {
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
    padding-left: 20px;

    list-style-type: circle;

}

.about-partners-item {
    padding-left: 16px;
}

.about-partners-item a {
    font-size: 16px;
    line-height: 40px;
    letter-spacing: normal;
    text-transform: none;
}

.gradient-button.more-about {
    width: 260px;
    padding-left: 2px;
}

.gradient-button.more-about:hover {
    background-color: #f0c52e;
    cursor: pointer;
}

/*Контакты*/
.contacts {
    flex-shrink: 0;

    width: 560px;
    margin: 0;
    padding: 0;
}

.contacts h2 {
    margin: 0;
    padding: 0;

    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    text-transform: none;
}

.contacts p {
    margin: 0;
    margin-top: 43px;
    margin-bottom: 39px;
    padding: 0;

    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #464646;
    text-transform: none;

    background-color: #ffffff;
}

.map__link {
    display: inline-block;
    vertical-align: top;

    margin-bottom: 63px;
}

.gradient-button.write-us {
    width: 260px;
    margin-left: 4px;
}

.gradient-button.write-us:hover {
    background-color: #f0c52e;
    cursor: pointer;
}

/*футер*/
.main-footer {
    width: 100%;
    min-height: 323px;
    margin: 0 auto;
    padding: 0;

    color: #ffffff;

    background-color: #464646;
}

.footer-first-row {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    align-items: center;

    width: 1160px;
    margin: 0 auto;
    padding: 0;
    padding-top: 63px;
}

.main-footer a {
    margin: 0;
    padding: 0;

    color: inherit;
}

.main-footer-logo,
a.main-footer-logo {
    display: inline-block;
    flex-shrink: 0;
    vertical-align: top;

    width: 163px;
    height: 36px;
    margin-bottom: 20px;
}

.main-footer .navigation-user-list {
    justify-content: flex-end;
    align-items: center;
}

.main-footer .login {
    flex-basis: auto;

    margin-right: 27px;
}

.main-footer .compare {
    flex-basis: auto;

    margin-right: 39px;
}

.main-footer .cart {
    flex-basis: auto;
}

.footer-second-row {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */

    width: 1160px;
    margin: 0 auto;
    margin-top: -7px;
}

.contacts-address,
.contacts-phone {
    flex-basis: 33%;

    font-size: 15px;
    line-height: 30px;
    letter-spacing: normal;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #ffffff;
    text-transform: none;

    background-color: inherit;
}

.main-footer .navigation-site-list {
    flex-basis: 33%;
    align-items: center;

    margin: 0;
    padding: 0;
}

.main-footer .navigation-site-item {
    margin: 0;
    margin-top: 6px;
    margin-right: 32px;
    margin-left: 2px;
    padding: 0;
}

.main-footer .navigation-site-item:first-child {
    flex-basis: auto;
}

.main-footer .navigation-site-item:last-child {
    flex-basis: auto;

    margin-right: 0;
}

.contacts-phone {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: flex-end;
}

.footer-third-row {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    align-items: flex-end;

    width: 1160px;
    margin: 0 auto;
    padding: 46px 139px 0 139px;
}

.socials ul {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;

    margin: 0;
    padding: 0;
    padding-right: 51px;

    list-style: none;
}

.socials li:not(:last-child) {
    margin-right: 22px;
}

.socials-button {
    opacity: 0.3;
}

.socials-button img:hover {
    opacity: 0.6;
}

.socials-button img:active,
.socials-button img:focus {
    opacity: 0.1;
}

/*Модальное окно. Карта*/
.modal-map {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;

    width: 960px;
    height: 559px;
    margin-top: -280px;
    margin-left: -480px;

    box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

iframe {
    border: none;
}

.modal-map p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    margin: 0;
}

.modal-map iframe {
    position: relative;
    z-index: 2;

    border: none;
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 10;

    width: 55px;
    height: 55px;
    margin: 0;
    padding: 0;

    background-color: inherit;
    border-radius: 50px;
    opacity: 0.5;
    border: none;

    cursor: pointer;
}

.modal-close:hover {
    opacity: 1.0;
}

.modal-close:focus,
.modal-close:active {
    opacity: 0.3;
    outline: none;
}

/*Модальное окно. Напишите нам.*/
.modal-write-us {
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;

    box-sizing: border-box;
    width: 960px;
    min-height: 553px;
    margin: 0;
    margin-top: -276px;
    margin-left: -480px;
    padding: 0;

    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.write-us-form {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    box-sizing: border-box;
    margin: 0;
    padding-left: 100px;
    padding-top: 93px;
    padding-right: 100px;
    padding-bottom: 83px;
}

.write-us-item {
    box-sizing: border-box;
    width: 360px;
    margin: 0;
    margin-bottom: 37px;
    padding: 0;
}

.write-us-item__label {
    display: block;

    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    letter-spacing: normal;
    text-transform: none;
}

.write-us-item__input {
    flex-basis: 50%;
    flex-shrink: 0;

    width: 360px;
    height: 50px;
    margin: 0;
    padding: 18px 20px;
    box-sizing: border-box;

    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: rgba(70, 70, 70, 0.4);

    background-color: rgba(242, 242, 242, 0.5);
    border: none;
    outline: none;
}

.write-us-item__input:hover {
    color: rgba(70, 70, 70, 0.4);
    background-color: rgba(234, 234, 234, 0.8);
    border: none;
}

.write-us-item__input:focus {
    color: rgba(70, 70, 70, 1.0);
    background-color: rgba(255, 255, 255, 1.0);
    border: rgba(240, 197, 46, 1.0) solid 3px;
}

.write-us-item__input:invalid {
    color: rgba(70, 70, 70, 0.4);
    background-color: rgba(237, 181, 181, 0.5);
    border: none;
}

.write-us-item__textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 43px;
}

.write-us-item textarea {
    width: 760px;
    min-height: 156px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: rgba(70, 70, 70, 0.4);
    background-color: rgba(242, 242, 242, 0.5);
    border: none;
    margin: 0;
    padding: 18px 20px;
    box-sizing: border-box;
    outline: none;
}

.write-us-item textarea:hover {
    color: rgba(70, 70, 70, 0.4);
    background-color: rgba(234, 234, 234, 0.8);
    border: none;
}

.write-us-item textarea:focus {
    color: rgba(70, 70, 70, 1.0);
    background-color: rgba(255, 255, 255, 1.0);
    border: rgba(240, 197, 46, 1.0) solid 3px;
}

.write-us-item textarea:invalid {
    color: rgba(70, 70, 70, 0.4);
    background-color: rgba(237, 181, 181, 0.5);
    border: none;
}

/*кнопка отправить*/
.gradient-button.submit {
    width: 200px;
    margin: 0;
    padding: 0;
}

.gradient-button.submit:hover {
    background-color: #f0c52e;
    cursor: pointer;
}

.gradient-button.submit:active,
.gradient-button.submit:focus {
    color: rgba(0, 0, 0, 0.3);
    background-color: #f0c52e;
}

/*================================внутренняя страница==============================*/
.inner-page .main-header {
    min-height: 186px;
    margin-bottom: 39px;
}

.quit {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 12px;

    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: #000000;

    opacity: 0.3;
}

.quit:hover {
    opacity: 0.6;
}

.quit:active,
.quit:focus {
    opacity: 1.0;
}

.inner-page .container {
    margin-top: 0;
}

.container-header__wrapper {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 47px;
    padding: 0 60px;
    box-sizing: border-box;
}

.page-title {
    margin: 0;
    margin-bottom: 22px;
    padding: 0;

    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    text-transform: none;
}

.breadcrumbs-list {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */

    margin: 0;
    padding: 0;

    list-style: none;
}

.breadcrumbs-item {
    position: relative;
    justify-content: flex-start;
    flex-wrap: wrap;

    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-right: 37px;
    padding: 0;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.14px;
    color: rgba(0, 0, 0, 0.3);
    font-family: "open_sanslight", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
}

.breadcrumbs-item:last-child {
    margin-right: 0;
}

.breadcrumbs-item::after {
    content: "";

    position: absolute;
    top: 10px;
    right: -18px;
    width: 4px;
    height: 7px;

    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
}

.breadcrumbs-item_current::after {
    display: none;
}

.breadcrumbs-item a:hover {
    opacity: 0.6;
}

.breadcrumbs-item a:focus,
.breadcrumbs-item a:active {
    opacity: 0.1;
}

.inner-page-wrapper {
    position: relative;
    z-index: 2;

    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;

    width: 100%;
    margin: 0 auto;
    padding: 0;

    background: linear-gradient(to right, #efefef 0%, #efefef 34%, transparent 34%, transparent 100%);
    list-style: none;
}

.inner-page-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 70px;

    background: linear-gradient(to right, rgba(220, 220, 220, 1.0) 0%, rgba(220, 220, 220, 1.0) 34%, rgba(235, 235, 235, 0.8) 34%, rgba(235, 235, 235, 0.8) 100%);
}

/*фильтр*/
.filters {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 200px;
    min-height: 1287px;
    margin: 0;
    margin-left: 61px;
    padding: 0;
    padding-right: 70px;

    background-color: #eeeeee;
}

.filters__title {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    width: 270px;
    height: 70px;
    margin: 0;
    margin-bottom: 69px;
    padding: 0;

    background-color: rgba(219, 219, 219, 1.0);
}

.filters__title h2 {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    color: #000000;
}

.filters-form {
    margin: 0;
    padding: 0;
}

.filters-form legend {
    width: 201px;
    margin: 0;
    padding: 0;
    padding-top: 10px;

    letter-spacing: 0.18px;
    text-transform: none;

    border-top: 2px solid #000000;
}

.filters__item {
    width: 201px;
    margin: 0;
    padding: 0;

    border: none;
}

/*фильтр стоимость*/
.range-filter {
    width: 201px;
}

.range-controls {
    position: relative;

    height: 11px;
    margin: 0;
    padding: 0;
    padding-top: 35px;
}

.range-controls .scale {
    height: 2px;

    background: #dbdbdb;
}

.range-controls .bar {
    width: 63%;
    height: 2px;

    background: #91c92f;
}

.range-controls .toggle {
    position: absolute;
    top: 25px;
    left: 0;

    width: 4px;
    height: 4px;
    margin: 0;
    padding: 0;

    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #dadada;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: -6px;
}

.range-controls .toggle-max {
    left: 108px;
}

.range-controls .toggle:focus,
.range-controls .toggle:active {
    top: 24px;

    border-width: 9px;
}

.price-controls {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: flex-start;

    margin: 0;
    margin-bottom: 32px;
    padding: 0;

    font-size: 0;
}

.price-controls label {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    font-family: "gilroylight", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.2);
    text-transform: none;
}

label.min-price {
    margin-left: -3px;
}

label.max-price {
    margin-left: 9px;
}

.price-controls input {
    width: 60px;
    margin-left: 3px;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    font-family: "gilroylight", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.2);
    text-transform: none;

    background-color: #eeeeee;
    border: none;
}

/*фильтр цвет*/
.filter__color {
    margin: 0;
    margin-top: 26px;
    padding: 0;

    list-style: none;
}

.filter__color li:last-child {
    margin-bottom: 38px;
}

.filter-option {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    padding-left: 39px;
}

.filter-option label {
    position: relative;

    display: block;

    font-size: 14px;
    letter-spacing: 0.14px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: rgba(0, 0, 0, 1.0);

    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;

    width: 23px;
    height: 23px;
    padding: 0;
    margin: 0;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
    content: "";

    width: 27px;
    height: 23px;
    margin: 0;
    padding: 0;

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.filter-input-checkbox:hover + label::before {
    opacity: 0.6;
}

.filter-input-checkbox:active + label::before {
    background-image: url("../img/checkbox-on.svg");
    opacity: 1.0;
}

.filter-input-checkbox:checked:active + label::before {
    background-image: url("../img/checkbox-off.svg");
    opacity: 1.0;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label {
    opacity: 0.25;
}

/*фильтр Bluetooth*/
.filter__bluetooth {
    margin: 0;
    margin-top: 25px;
    padding: 0;

    list-style: none;
}

.filter__bluetooth li:last-child {
    margin-bottom: 39px;
}

.bluetooth__yes label {
    padding-top: 2px;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;
    left: -42px;
    top: -1px;

    width: 26px;
    height: 26px;
    margin: 0;
    padding: 0;

    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
}

.filter-input-radio:hover + label::before {
    opacity: 0.6;
}

.filter-input-radio:active + label::before {
    background-image: url("../img/radio-on.svg");
    opacity: 1.0;
}

.filter-input-radio:checked + label::before {
    background-image: url("../img/radio-on.svg");
}

.filter-input-radio:checked:active + label::before {
    background-image: url("../img/radio-off.svg");
    opacity: 1.0;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label {
    opacity: 0.25;
}

/*кнопка "показать"*/
.filters__button {
    width: 200px;

    background: linear-gradient(to top, #efefef 40%, #f0c52e 40%, #f0c52e 60%, #efefef 60%);
}

.catalog-wrapper {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    justify-content: flex-start;

    width: 760px;
    margin: 0;
    padding: 0;
    padding-left: 70px;
}

/*сортировка*/
.sorting-form {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    min-height: 70px;
    margin: 0;
    padding: 0;
}

.sorting-form h2 {
    margin: auto 0;
    padding: 0;
    padding-left: 2px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    font-family: "gilroyextrabold", Arial, sans-serif;
    color: #000000;
}

.sorting-form-list {
    width: 500px;
    margin: 0;
    margin-left: 53px;
    padding: 0;

    list-style: none;
}

.sorting-form-item {
    display: inline-block;
    vertical-align: center;
    margin: 0;
    margin-right: 21px;
    padding: 0;
}

.sorting-form-button {
    display: inline-block;
    vertical-align: center;

    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    font-weight: 400;
    font-family: "open_sansregular", Arial, sans-serif;
    text-transform: none;
    color: rgba(0, 0, 0, 0.3);
}

.sorting-form-item .sorting-form-button_current {
    color: rgba(0, 0, 0, 1.0);
}

.sorting-form-button:hover {
    opacity: 0.6;
}

.sorting-form-button:focus,
.sorting-form-button:active {
    color: rgba(0, 0, 0, 1.0);
}

.price-sort {
    margin: 0;
    padding: 0;
}

.type-sort {
    margin: 0;
    padding: 0;
}

.popularity-sort {
    margin: 0;
    padding: 0;
}

.sorting-button {
    width: 11px;
    height: 10px;
    margin: 0;
    padding: 0;

    opacity: 0.2;
}

.sorting-button_current {
    opacity: 1.0;
}

.sorting-button:hover {
    opacity: 0.4;
}

.sorting-button:focus,
.sorting-button:active {
    opacity: 1.0;
}

.sorting-form-button-up {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.sorting-form-button-down {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;

    margin-left: 19px;
}

/*карточки*/
.catalog-list {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    flex-wrap: wrap;
    align-items: stretch;

    margin: 0;
    padding: 0;
    padding-top: 69px;

    list-style: none;
}

.catalog-item {
    width: 360px;
    margin: 0;
    margin-right: 40px;
    margin-bottom: 46px;
    padding: 0;
}

.catalog-list li:nth-child(2n) {
    margin-right: 0;
}

.catalog-list li:nth-last-of-type(1) {
    margin-bottom: 34px;
}

.catalog-list li:nth-last-of-type(2) {
    margin-bottom: 34px;
}

.catalog-item figure {
    margin: 0;
    padding: 0;
}

.catalog-item__image {
    position: relative;

    width: 360px;
    height: 380px;
    margin: 0;
    padding: 0;
}

.new::after {
    content: "new";

    position: absolute;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    top: 27px;
    right: 27px;

    width: 57px;
    height: 57px;
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);

    border: rgba(0, 0, 0, 0.1) solid 2px;
    border-radius: 50%;
}

.catalog-item__image img {
    vertical-align: top;
}

/*кнопки на карточке*/
.buttons-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: rgba(238, 238, 238, 0);
}

.catalog-item__image:hover .buttons-wrapper {
    z-index: 1;

    background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item__cart {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.catalog-item__compare {
    margin: 0;
    padding: 0;

    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: rgba(0, 0, 0, 0.5);

    background-color: transparent;
    border: none;
    outline: none;
}

.catalog-item__compare:hover {
    color: rgba(0, 0, 0, 1.0);
}

.catalog-item__compare:focus,
.catalog-item__compare:active {
    color: rgba(0, 0, 0, 0.2);
}

.catalog-item h3 {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    align-items: baseline;

    margin: 0;
    margin-top: 31px;
    padding: 0;
}

.catalog-item a {
    flex-basis: 72%;
}

.catalog-item__title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
    font-weight: 700;
    flex-wrap: wrap;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: none;
    color: #000000;
}

.catalog-item__price {
    margin: 0;
    padding: 0;

    text-align: right;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-weight: 400;
    font-family: "gilroylight", Arial, sans-serif;
    text-transform: none;
    color: #464646;
}

/*нумерация страниц*/
.pagination {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;

    width: 760px;
    height: 70px;
    margin: 0 auto;
    padding: 0;

    background-color: #ebebeb;
}

.catalog-button {
    display: inline-block;
    vertical-align: middle;
    width: 126px;
    height: 70px;
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #000000;

    background-color: inherit;
    border: none;
}

.previous {
    padding-left: 3px;
}

.next {
    margin-right: 3px;
}

.catalog-button:hover {
    background-color: #d9d9d9;
}

.catalog-button:focus,
.catalog-button:active {
    background-color: #d9d9d9;
    outline: none;
    opacity: 0.3;
}

.pagination-list {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    align-items: center;

    margin: 0;
    margin-left: 6px;
    padding: 0;

    list-style: none;
}

.pagination-item {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    color: #000000;

    opacity: 0.3;
}

.pagination-list li:not(:last-child) {
    margin-right: 27px;
}

.pagination-item__current {
    opacity: 1.0;
}

.pagination-item:hover {
    opacity: 0.6;
}

.pagination-item:active {
    opacity: 1.0;
}

/*футер*/

.inner-page .main-footer-logo:hover {
    color: rgba(255, 198, 0, 0.6);
}

.inner-page .main-footer-logo:focus,
.inner-page .main-footer-logo:active {
    color: rgba(255, 198, 0, 0.3);
}

.inner-page .main-footer .login {
    margin-right: 14px;
}

.main-footer .link-button {
    color: rgba(255, 255, 255, 0.7);
}

.main-footer .link-button:hover {
    color: rgba(255, 255, 255, 1.0);
}

.main-footer .link-button:focus,
.main-footer .link-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.main-footer .button:hover {
    color: rgba(255, 255, 255, 0.6);
}

.main-footer .button:active,
.main-footer .button:focus {
    color: rgba(255, 255, 255, 0.3);
}

.inner-footer__user-name {
    margin-right: 12px;
}

.main-footer .quit {
    display: inline-block;
    vertical-align: bottom;

    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;

    opacity: 0.3;
}

.main-footer .line {
    background-color: #ffc600;
    margin-bottom: 19px;
}
