@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000000;
}

.line {
    width: 80px;
    height: 7px;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
    background-color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon:hover {
    opacity: 0.6;
}

.icon:focus,
.icon:active {
    opacity: 0.3;
}

.user-image.icon {
    margin: 0;
    margin-right: 9px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 0;
}

.compare-image.icon {
    margin-right: 6px;
    margin-left: 16px;
    margin-top: 22px;
    padding: 0;
}

.cart-image.icon {
    margin: 0;
    margin-left: 0;
    margin-right: 7px;
    margin-top: 20px;
    padding: 0;
    opacity: 1.0;
}

.user-name {
    margin: 0;
    padding: 0;
}

.inner-page .main-footer .user-name {
    margin-right: 12px;
}

.button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.button:active,
.button:focus {
    color: rgba(0, 0, 0, 0.3);
}

.gradient-button {
    /*display: block;
    text-align: center;
    vertical-align: middle;*/
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
    background: linear-gradient(to top, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
    border: none;
    outline: none;
}

.gradient-button:hover {
    background: #f0c52e;
}

.gradient-button:focus,
.gradient-button:active {
    color: rgba(0, 0, 0, 0.3);
    background: #f0c52e;
}

.link-button {
    font-size: 15px;
    display: inline-block;
    line-height: 30px;
    letter-spacing: 0.15px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    vertical-align: middle;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    white-space: nowrap;
    color: #000000;
}

.link-button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.link-button:focus,
.link-button:active {
    color: rgba(0, 0, 0, 0.3);
}

/*хедер*/

.search__form {
    margin: 0;
    height: 49px;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    padding: 0;
    padding-left: 6px;
    padding-top: 3px;
}

.search__input {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: #000000;
    background-color: inherit;
    border: none;
    opacity: 0.3;
}

.search__input:hover {
    opacity: 0.6;
}

.search__input:active,
.search__input:focus {
    opacity: 1.0;
    outline: none;
}

.search__label {
    /*display: inline-block;*/
    margin: 0;
    padding: 0;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    box-sizing: border-box;
    align-items: center;
    outline: none;
}

.search__label_border {
    border-bottom: 2px solid #000000;
}

.search__image {
    margin-bottom: 0;
    padding: 0;
    margin-right: 19px;
}

.search__button {
    width: 85px;
    height: 49px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: #000000 solid 2px;
}

.search__button:hover {
    color: #ffffff;
    background-color: #000000;
}

.search__button:active,
.search__button:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
    outline: none;
}

.catalog-link {
    position: relative;
}

.catalog-link::after {
    content: "";
    position: absolute;
    right: 277px;
    top: 4px;
    opacity: 0.3;
    width: 16px;
    height: 16px;
    background-image: url("../img/plus.svg");
}

.navigation-user-list,
.navigation-site-list,
.catalog-menu-list {
    list-style: none;
}

.main-header {
    background-color: rgba(240, 197, 46, 0.5);
}

/*main*/
/*слайдер преимуществ*/
.services-list {
    min-height: 238px;
    flex-basis: 24%;
    flex-shrink: 0;
    padding: 0;
    padding-top: 80px;
    margin: 0;
    border-right: 7px solid #000000;
}

.services-item:not(:last-child) {
    /*position: relative;
    z-index: 1;
    width: 160px;
    background: linear-gradient(to top, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);*/
    margin-bottom: 24px;
    /*padding-left: 5px;*/
}

.gradient-button__delivery {
    position: relative;
    z-index: 1;
    width: 160px;
    /*margin-bottom: 23px;*/
    padding-left: 5px;
    background: linear-gradient(to top, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}

.gradient-button__warranty,
.gradient-button__credit {
    position: relative;
    z-index: 1;
    width: 160px;
    /*margin-bottom: 23px;*/
    padding-left: 5px;
    background: linear-gradient(to top, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}

/*.service-current__back {
    position: absolute;
}*/

/*текущая черная кнопка*/
.gradient-button.services-item_current {
    color: #f7e184;
}

.services-item .gradient-button.services-item_current::after {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    width: 278px;
    height: 40px;
    background: #000000
}

/*слайдер*/
.promo-wrapper {
    position: absolute;
    top: -110px;
    width: 100%;
}

.promo-slider-list,
.promo-list {
    list-style: none;
}

.promo-slider-item {
    background-image: url("../img/slider-button-empty1.svg");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-size: 100%;
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0;
}

.promo-slider-item_current {
    background-image: url("../img/slider-button1.svg");
}

.promo-slider-item:not(:last-child) {
    margin-right: 13px;
}

.promo-item p {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    flex-basis: 14%;
    flex-shrink: 0;
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-bottom: 43px;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #464646;
    background-color: #ffffff;
    text-transform: none;
}

.promo-item h3 {
    position: relative;
    flex-basis: 27%;
    flex-shrink: 0;
    z-index: 1;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.47px;
    text-transform: none;
}

.counter {
    position: absolute;
    top: 0;
    right: 0;
}

/*.promo-item h3::before {*/
.promo-list::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 7px;
    top: 37px;
    /*right: 460px;*/
    right: 39.5%; /*новое*/
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.counter::after {
    /*.promo-list::after {*/
    content: attr(data-value);
    position: absolute;
    z-index: -1;
    right: 47px;
    top: -92px;
    margin: 0;
    padding: 0;
    font-size: 179.2px;
    line-height: 179.2px;
    letter-spacing: 1.79px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-align: center;
    color: #ffffff;
}

.more {
    margin-bottom: 48px;
    /*margin-bottom: 32px; *//*новое*/
    flex-basis: 5%;
    flex-shrink: 0;
}

.promo-item-characteristics {
    margin: 0;
    padding: 0;
    /*margin-left: -5px;*/
    width: 478px;
    /*width: 506px; /*новое*/
    /*display: flex; /*новое*/
    /*flex-wrap: wrap; /*новое*/
    flex-basis: 25%;
    flex-shrink: 0;
}

.table-data,
.table-headers {
    margin: 0;
    padding: 0;
}

/*
tbody {
    display: flex;
    flex-direction: column;
}

.table-data {
    order: 1;
}

.table-headers {
    order: 3;
}*/

/*.promo-item-characteristics td {*/
/*.promo-item-characteristics dd {*/
.table-data td {
    margin: 0;
    padding: 0;
    /*width: 160px;*/
    padding-bottom: 5px;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
    font-weight: 400;
    font-family: "gilroylight", Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
    text-transform: none;
}

/*.promo-item-characteristics th {*/
.table-headers td {
    /*.promo-item-characteristics dt {*/
    margin: 0;
    padding: 0;
    /*width: 160px;*/
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #464646;
    background-color: #ffffff;
    text-transform: none;
}

.promo-item-characteristics td:not(:last-child),
.promo-item-characteristics th:not(:last-child) {
    /*.promo-item-characteristics dd:not(:last-child),
    .promo-item-characteristics dt:not(:last-child) {*/
    padding-right: 36px;
}

/*.promo-item-characteristics td {
    flex-basis: 100%;
}*/
/*.promo-item-characteristics dd:last-child {
    width: 100%;
}*/

.promo-item-character {
    width: 480px;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}

.promo-item-character dl:not(:last-child) {
    padding: 0;
    margin: 0;
    margin-right: 80px;
}

.promo-item-character dd {
    margin: 0;
    padding: 0;
    width: 160px;
    padding-bottom: 3px;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
    font-weight: 400;
    font-family: "gilroylight", Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
    text-transform: none;
}

.promo-item-character dt {
    margin: 0;
    padding: 0;
    width: 160px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #464646;
    background-color: #ffffff;
    text-transform: none;
}

/*Категории товаров*/
.products-list {
    list-style: none;
}

.products-item {
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
}

.products-item:active,
.products-item:focus {
    opacity: 0.3;
}

.products-item__imgWrapper {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    background-color: rgba(240, 197, 46, 0.5);
}

p.products-item__imgWrapper:hover {
    background-color: rgba(240, 197, 46, 1.0);
}

.products-item:nth-child(2) .products-item__imgWrapper {
    align-items: flex-end;
}

.products-item h3 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: none;
}

/*Сервисы*/
.services ul {
    list-style: none;
}

.services-description-item {
    position: relative;
}

.services-description-item p {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: #464646;
    padding: 0;
    margin: 0;
    width: 437px;
    padding-left: 75px;
    padding-top: 31px;
}

.services-description-item h3 {
    margin: 0;
    padding: 0;
    padding-left: 76px;
    padding-top: 54px;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    text-transform: none;
}

.services-description-item-image {
    position: absolute;
    top: 68px;
    right: 8%;

}

/*Производители*/
.manufacturers-list {
    list-style: none;
}

.manufacturers-item__image {
    opacity: 0.2;
}

/*О нас*/
.about {
    /*flex-basis: 50%;*/
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    margin-right: 136px;
    width: 462px;
}

.about h2 {
    padding: 0;
    margin: 0;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    text-transform: none;
}

.about p {
    width: 478px;
    padding: 0;
    margin: 0;
    margin-top: 43px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
    text-transform: none;
    color: #464646;
}

.about-partners h3 {
    width: 478px;
    padding: 0;
    margin: 0;
    margin-bottom: 65px;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    background-color: #ffffff;
    text-transform: none;
    color: #464646;
}

.about-partners-list {
    list-style-type: circle;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    margin-bottom: 55px;
}

.about-partners-list li {
    padding-left: 16px;
}

.about-partners-item a {
    font-size: 16px;
    line-height: 40px;
    letter-spacing: normal;
    text-transform: none;
}

/*Контакты*/
.contacts {
    /*flex-basis: 0%;*/
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    width: 560px;
}

.contacts h2 {
    margin: 0;
    padding: 0;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    text-transform: none;
}

.contacts p {
    margin: 0;
    padding: 0;
    margin-top: 43px;
    margin-bottom: 39px;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #464646;
    background-color: #ffffff;
    text-transform: none;
}

.map__link {
    margin-bottom: 63px;
    display: inline-block;
    vertical-align: top;
}

.gradient-button.more-about {
    width: 260px;
    padding-left: 2px;
}

.gradient-button.write-us {
    width: 260px;
    margin-left: 4px;
}

.gradient-button.more-about:hover,
.gradient-button.write-us:hover {
    background-color: #f0c52e;
    cursor: pointer;
}

.socials ul {
    list-style: none;
}

.socials-button {
    opacity: 0.3;
}

.socials-button img:hover {
    opacity: 0.6;
}

.socials-button img:active,
.socials-button img:focus {
    opacity: 0.1;
}

/*Модальное окно. Карта*/
.modal-map {
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 960px;
    height: 559px;
    margin-top: -280px;
    margin-left: -480px;
    position: fixed;
    box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.modal-map p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    margin: 0;
}

.modal-map iframe {
    position: relative;
    z-index: 2;

    border: none;
}

.modal-close {
    z-index: 10;
    width: 55px;
    height: 55px;
    margin: 0;
    padding: 0;
    opacity: 0.5;
    background-color: inherit;
    border-radius: 50px;
    border: none;
    position: absolute;
    top: 22px;
    right: 22px;
    cursor: pointer;
}

.modal-close:hover {
    opacity: 1.0;
}

.modal-close:focus,
.modal-close:active {
    opacity: 0.3;
    outline: none;
}

/*Модальное окно. Напишите нам.*/
.modal-write-us {
    width: 960px;
    min-height: 553px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 5;
    top: 50%;
    left: 50%;
    margin-top: -276px;
    margin-left: -480px;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.write-us-form {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 100px;
    padding-top: 93px;
    padding-right: 100px;
    padding-bottom: 83px;
    box-sizing: border-box;
}

.write-us-item {
    width: 360px;
    margin: 0;
    padding: 0;
    margin-bottom: 37px;
    box-sizing: border-box;
}

.write-us-item__label {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    letter-spacing: normal;
    text-transform: none;
}

.write-us-item__input {
    flex-basis: 50%;
    flex-shrink: 0;
    width: 360px;
    margin: 0;
    padding: 18px 20px;
    box-sizing: border-box;
    outline: none;
    height: 50px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: rgba(70, 70, 70, 0.4);
    background-color: rgba(242, 242, 242, 0.5);
    border: none;
}

.write-us-item__textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 43px;
}

.write-us-item textarea {
    width: 760px;
    min-height: 156px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: rgba(70, 70, 70, 0.4);
    background-color: rgba(242, 242, 242, 0.5);
    border: none;
    margin: 0;
    padding: 18px 20px;
    box-sizing: border-box;
    outline: none;
}

.write-us-item__input:hover,
.write-us-item textarea:hover {
    color: rgba(70, 70, 70, 0.4);
    background-color: rgba(234, 234, 234, 0.8);
    border: none;
}

.write-us-item__input:focus,
.write-us-item textarea:focus {
    color: rgba(70, 70, 70, 1.0);
    background-color: rgba(255, 255, 255, 1.0);
    border: rgba(240, 197, 46, 1.0) solid 3px;
}

.write-us-item__input:invalid,
.write-us-item textarea:invalid {
    /*.write-us-item__input:not(:placeholder-shown):invalid,
    .write-us-item textarea:not(:placeholder-shown):invalid {*/
    color: rgba(70, 70, 70, 0.4);
    background-color: rgba(237, 181, 181, 0.5);
    border: none;
}

/*кнопка отправить*/
.gradient-button.submit {
    width: 200px;
    padding: 0;
    margin: 0;
}

.gradient-button.submit:hover {
    background-color: #f0c52e;
    cursor: pointer;
}

.gradient-button.submit:active,
.gradient-button.submit:focus {
    color: rgba(0, 0, 0, 0.3);
    background-color: #f0c52e;
}

/*внутренняя страница*/
.page-title {
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    text-transform: none;
    margin: 0;
    padding: 0;
    margin-bottom: 22px;
}

.breadcrumbs-item {
    display: inline-block;
    vertical-align: top;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.14px;
    color: rgba(0, 0, 0, 0.3);
    font-family: "open_sanslight", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
}

.breadcrumbs-list li {
    position: relative;

    margin-right: 37px;
}

.breadcrumbs-list li::after {
    content: "";

    position: absolute;
    top: 10px;
    right: -18px;
    width: 4px;
    height: 7px;

    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
}

.breadcrumbs-list li:last-child {
    margin-right: 0;
}

.breadcrumbs-item_current::after {
    display: none;
}

.breadcrumbs-item a:hover {
    opacity: 0.6;
}

.breadcrumbs-item a:focus,
.breadcrumbs-item a:active {
    opacity: 0.1;
}

/*фильтр*/
.filters {
    /*width: 468px;*/
    /*position: relative;
    z-index: 1;*/
    width: 200px;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    margin-left: 61px;
    padding: 0;
    padding-right: 70px;
    /*margin-right: 70px;*/
    min-height: 1287px;
    background-color: #eeeeee;
    /* background: linear-gradient(to right, transparent 32.5%, #eeeeee 32.5%, #eeeeee 99.9%, transparent 99.9%);*/
}

/*.filters::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 268px;
    height: 100%;
    background-color: #eeeeee;
}*/

.filters h2 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    color: #000000;
}

.filters__title {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    width: 270px;
    height: 70px;
    margin: 0;
    padding: 0;
    margin-bottom: 69px;
    background-color: rgba(219, 219, 219, 1.0);
}

.filters__item {
    width: 201px;
    margin: 0;
    padding: 0;
    border: none;
}

/*фильтр стоимость*/
.range-filter {
    width: 201px;
}

.filters-form {
    padding: 0;
    margin: 0;
    /*margin-left: 198px;*/
}

.filters-form legend {
    padding: 0;
    margin: 0;
    width: 201px;
    padding-top: 10px;
    letter-spacing: 0.18px;
    text-transform: none;
    border-top: 2px solid #000000;
}

.range-controls {
    position: relative;
    height: 11px;
    margin: 0;
    padding: 0;
    padding-top: 35px;
}

.range-controls .scale {
    height: 2px;
    background: #dbdbdb;
}

.range-controls .bar {
    width: 63%;
    height: 2px;
    background: #91c92f;
}

.range-controls .toggle {
    position: absolute;
    top: 25px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    margin: 0;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #dadada;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: -6px;
}

.range-controls .toggle-max {
    left: 108px;
}

.range-controls .toggle:focus,
.range-controls .toggle:active {
    top: 24px;
    border-width: 9px;
}

.price-controls {
    font-size: 0;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;

}

.price-controls label {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    font-family: "gilroylight", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.2);
    text-transform: none;
}

label.min-price {
    margin-left: -3px;
}

label.max-price {
    margin-left: 9px;
}

.price-controls input {
    width: 60px;
    margin-left: 3px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    font-family: "gilroylight", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.2);
    background-color: #eeeeee;
    text-transform: none;
    border: none;
}

/*фильтр цвет*/
.filter-option {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    padding-left: 39px;
}

.filter-option label {
    display: block;
    position: relative;
    font-size: 14px;
    letter-spacing: 0.14px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: rgba(0, 0, 0, 1.0);
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    padding: 0;
    margin: 0;
    left: -42px;
    top: 0;
    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter__color {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 26px;
}

.filter-input-checkbox:checked + label::before {
    content: "";
    padding: 0;
    margin: 0;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.filter__color li:last-child {
    margin-bottom: 38px;
}

.filter-input-checkbox:hover + label::before {
    opacity: 0.6;
}

.filter-input-checkbox:active + label::before {
    background-image: url("../img/checkbox-on.svg");
    opacity: 1.0;
}

.filter-input-checkbox:checked:active + label::before {
    background-image: url("../img/checkbox-off.svg");
    opacity: 1.0;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label {
    opacity: 0.25;
}

/*фильтр Bluetooth*/
.filter__bluetooth {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

.bluetooth__yes label {
    padding-top: 2px;
}

.filter__bluetooth li:last-child {
    margin-bottom: 39px;
}

.filter-input-radio + label::before {
    content: "";
    padding: 0;
    margin: 0;
    position: absolute;
    left: -42px;
    top: -1px;
    width: 26px;
    height: 26px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
}

.filter-input-radio:checked + label::before {
    background-image: url("../img/radio-on.svg");
}

/*.filter-input-radio:checked + label::after {
    content: "";
    padding: 0;
    margin: 0;
    position: absolute;
    left: -42px;
    top: -1px;
    width: 26px;
    height: 26px;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
}*/

.filter-input-radio:hover + label::before {
    opacity: 0.6;
}

/*.filter-input-radio:hover  + label::before {
    opacity: 0.6;
}*/

.filter-input-radio:active + label::before {
    background-image: url("../img/radio-on.svg");
    opacity: 1.0;
}

.filter-input-radio:checked:active + label::before {
    background-image: url("../img/radio-off.svg");
    opacity: 1.0;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label {
    opacity: 0.25;
}

/*кнопка "показать"*/
.filters__button {
    width: 200px;
    background: linear-gradient(to top, #efefef 40%, #f0c52e 40%, #f0c52e 60%, #efefef 60%);
}

/*сортировка*/
.sorting-form {
    min-height: 70px;
    margin: 0;
    padding: 0;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.sorting-form h2 {
    margin: auto 0;
    padding: 0;
    padding-left: 2px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    font-family: "gilroyextrabold", Arial, sans-serif;
    color: #000000;
}

.sorting-form-list {
    list-style: none;
}

.sorting-form-item {
    margin: 0;
    padding: 0;
    margin-right: 21px;
    display: inline-block;
    vertical-align: center;
}

.price-sort {
    margin: 0;
    padding: 0;
}

.type-sort {
    margin: 0;
    padding: 0;
    /*margin-left: 21px;*/
}

.popularity-sort {
    margin: 0;
    padding: 0;
    /*margin-left: 21px;*/
}

.sorting-form-button {
    display: inline-block;
    vertical-align: center;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    font-weight: 400;
    font-family: "open_sansregular", Arial, sans-serif;
    text-transform: none;
    color: rgba(0, 0, 0, 0.3);
}

.sorting-button {
    width: 11px;
    height: 10px;
    margin: 0;
    padding: 0;
    opacity: 0.2;
}

.sorting-form-button-up {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.sorting-form-button-down {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
    margin-left: 19px;
}

.sorting-form-item .sorting-form-button_current {
    color: rgba(0, 0, 0, 1.0);
}

.sorting-form-button:hover {
    opacity: 0.6;
}

.sorting-form-button:focus,
.sorting-form-button:active {
    color: rgba(0, 0, 0, 1.0);
}

.sorting-button_current {
    opacity: 1.0;
}

.sorting-button:hover {
    opacity: 0.4;
}

.sorting-button:focus,
.sorting-button:active {
    opacity: 1.0;
}

/*карточки*/

.catalog-list {
    list-style: none;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 69px;
    /*padding-left: 72px;*/
}

.catalog-item {
    margin: 0;
    padding: 0;
    margin-right: 40px;
    margin-bottom: 46px;
    width: 360px;
}

.catalog-item__image {
    position: relative;
}

.new::after {
    content: "new";
    position: absolute;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    top: 27px;
    right: 27px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: uppercase;
    width: 57px;
    height: 57px;
    color: rgba(0, 0, 0, 0.2);
    border: rgba(0, 0, 0, 0.1) solid 2px;
    border-radius: 50%;
}

/*.catalog-list figure.catalog-item:nth-child(2n) {*/
.catalog-list li:nth-child(2n) { /* .catalog-item {*/
    margin-right: 0;
}

.catalog-list li:nth-last-of-type(1) { /*.catalog-item {*/
    margin-bottom: 34px;
}

.catalog-list li:nth-last-of-type(2) { /*.catalog-item {*/
    margin-bottom: 34px;
}

.catalog-item__image {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 380px;
}

.catalog-item__image img {
    vertical-align: top;
}

.catalog-item figure {
    margin: 0;
    padding: 0;
}

.catalog-item h3 {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 0;
    margin-top: 31px;
}

.catalog-item a {
    flex-basis: 72%;
}

.catalog-item__title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
    font-weight: 700;
    flex-wrap: wrap;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: none;
    color: #000000;
}

.catalog-item__price {
    text-align: right;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-weight: 400;
    font-family: "gilroylight", Arial, sans-serif;
    text-transform: none;
    color: #464646;
    margin: 0;
    padding: 0;
}

.catalog-item__cart {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.catalog-item__compare {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border: none;
    outline: none;
}

.catalog-item__compare:hover {
    color: rgba(0, 0, 0, 1.0);
}

.catalog-item__compare:focus,
.catalog-item__compare:active {
    color: rgba(0, 0, 0, 0.2);
}

/*нумерация страниц*/
.pagination {
    width: 760px;
    height: 70px;
    margin: 0 auto;
    padding: 0;
    /*margin-left: 74px;*/
    background-color: #ebebeb;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
}

.pagination-list {
    list-style: none;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-left: 6px;
    padding: 0;
}

.pagination-item {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    color: #000000;
    opacity: 0.3;
    margin: 0;
    padding: 0;
}

.pagination-item:hover {
    opacity: 0.6;
}

.pagination-item:active {
    opacity: 1.0;
}

.pagination-list li:not(:last-child) {
    margin-right: 27px;
}

.pagination-item__current {
    opacity: 1.0;
}

.catalog-button {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 126px;
    height: 70px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: inherit;
    border: none;
}

.previous {
    padding-left: 3px;
}

.next {
    margin-right: 3px;
}

.catalog-button:hover {
    background-color: #d9d9d9;
}

.catalog-button:focus,
.catalog-button:active {
    opacity: 0.3;
    background-color: #d9d9d9;
    outline: none;
}

/*кнопки на карточке*/
.buttons-wrapper {
    margin: 0;
    padding: 0;
    background-color: rgba(238, 238, 238, 0);
    top: 0;
    left: 0;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.catalog-item__image:hover .buttons-wrapper {
    background-color: rgba(238, 238, 238, 0.7);
    z-index: 1;
}

/*футер логотип*/

.inner-page .main-footer-logo:hover {
    color: rgba(255, 198, 0, 0.6);
}

.inner-page .main-footer-logo:focus,
.inner-page .main-footer-logo:active {
    color: rgba(255, 198, 0, 0.3);
}

/*сеточные стили*/
html,
body {
    min-width: 1440px;
    min-height: 1750px;
}

.main-header {
    position: relative;
    width: 1160px;
    min-height: 299px;
    margin: 0 auto;
    margin-top: 40px;
    box-sizing: border-box;
    padding: 31.5px 57px;
}

.logo {
    position: absolute;
    left: 59px;
    top: -17px;
}

.navigation {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.container {
    /*width: 1160px; новое*/
    margin: 0 auto;
    padding: 0;
}

.navigation-user-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-wrap: nowrap;
    list-style: none;
    margin-bottom: 29px;
}

.search {
    flex-basis: 50%;
    flex-shrink: 0;
}

.login {
    margin: 0;
    padding: 0;
    flex-basis: 100%;
}

.compare {
    margin: 0;
    padding: 0;
    flex-basis: 50%;
}

.main-header .cart {
    margin: 0;
    margin-right: 3px;
    padding: 0;
}

.navigation-site-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    width: 100%;
    justify-content: space-between;
}

.navigation-site-item {
    padding-left: 18px;
    padding-right: 16px;
}

.navigation-site-item:first-child {
    padding: 0;
    padding-left: 2px;
    flex-basis: 50%;
    flex-shrink: 0;
}

.navigation-site-item:last-child {
    padding: 0;
    flex-basis: 100%;
    text-align: right;
}

.catalog-menu-item {
    padding: 0;
    margin: 0;
    width: 180px;
}

.catalog-menu-item:nth-child(3n+2) {
    margin-left: 60px;
    margin-right: 20px;
}

.catalog-menu-item:last-of-type {
    width: 100%;
}

.catalog-menu-list {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    left: -57px;
    display: none;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 148px;
    width: 623px;
    padding-top: 18px;
    padding-left: 57px;
    padding-right: 480px;
    background-color: #f7e296;
    z-index: 2;
}

.catalog-menu-item a {
    margin: 0;
    padding: 0;
    line-height: 36px;
}

.catalog-link:hover .catalog-menu-list {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

.promo {
    position: relative;
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    min-height: 480px;
}

.promo h2 {
    margin: 0;
    padding: 0;
}

.promo-slider-list {
    z-index: 1;
    position: absolute;
    /*top: 65%;
    right: 7%;*/
    top: 319px;
    right: 81px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.promo-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.promo-item-image {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    width: 560px;
}

.promo-item-image a {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    width: 100%;
}

.promo-item-wrapper {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    align-items: stretch;
    /*width: 100%;*/
    width: 1160px; /*новое*/
    min-height: 488px;
    margin: 0 auto;
    padding: 0;
}

.promo-item-description-wrapper {
    /*flex-basis: 50%;*/
    width: 560px; /*новое*/
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    /*padding-left: 20px; новое*/
    padding-top: 78px;
    box-sizing: border-box;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    justify-content: flex-start;

}

.products {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 64px;
    padding: 0;
}

.products h2 {
    margin: 0;
    padding: 0;
}

.products-list {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.services {
    width: 100%;
    margin: 0;
    margin-bottom: 95px;
    padding: 0;
    padding-bottom: 67px;
    background: linear-gradient(to bottom, transparent 102px, #e5e5e5 102px, #e5e5e5 82.2%, #e5e5e5 82.2%);
}

.services h2 {
    margin: 0;
    padding: 0;
}

.services-wrapper {
    width: 1160px;
    /*position: relative;
    z-index: 1;*/
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0;
    /*margin-bottom: 162px;*/
    background-color: transparent;
    min-height: 319px;
}

/*.services-back {
    position: absolute;
}*/

/*.services-wrapper::after {
content: "";
top: 98px;
left: -141px;
position: absolute;
z-index: -1;
/*background-color: #e5e5e5;
background-color: transparent;
width: 1440px;
height: 288px;
}*/

.services-description-list {
    flex-basis: 72%;
    flex-shrink: 0;
}

.manufacturers {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
}

.manufacturers h2 {
    margin: 0;
    padding: 0;
}

.manufacturers-list {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 88px;
    list-style: none;
}

.manufacturers-item__image-hover {
    display: none;
}

.manufacturers_link:hover .manufacturers-item__image {
    display: none;
}

.manufacturers_link:hover .manufacturers-item__image-hover {
    display: block;
}

.about-contracts-wrapper {
    width: 1160px;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    /*justify-content: space-between;*/
    margin: 0 auto;
    padding: 0;
    margin-bottom: 82px;
}

.footer-first-row {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 51px;
    /*padding-left: 139px;*/
    width: 1160px;
}

.main-footer-logo {
    display: inline-block;
    vertical-align: top;
    width: 163px;
    height: 36px;
    flex-shrink: 0;
}

.footer-second-row {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    /*justify-content: space-between;
    align-items: baseline;

    padding: 0 139px;*/
    margin: 0 auto;
    width: 1160px;
}

.navigation-site-list {
    list-style: none;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer-third-row {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    padding: 46px 139px 0 139px;
    width: 1160px;
}

.socials ul {
    list-style: none;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-right: 51px;
}

.socials li:not(:last-child) {
    margin-right: 22px;
}

/*стили внутренней страницы*/
.inner-page .main-header {
    min-height: 186px;
    margin-bottom: 39px;
}

.container-header__wrapper {
    width: 1160px;
    padding: 0 60px;
    margin: 0 auto;
    margin-bottom: 47px;
    box-sizing: border-box;
}

.inner-page-wrapper {
    position: relative;
    list-style: none;
    z-index: 2;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    background: linear-gradient(to right, #efefef 0%, #efefef 34%, transparent 34%, transparent 100%)
}

.inner-page-wrapper::after {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(220, 220, 220, 1.0) 0%, rgba(220, 220, 220, 1.0) 34%, rgba(235, 235, 235, 0.8) 34%, rgba(235, 235, 235, 0.8) 100%)
}

/*.inner-page .container {
    /*width: 1440px;
    margin: 0 auto;
}*/

.inner-page .main-footer .login {
    /*padding-right: 12px;*/
    margin-right: 14px;
}

.breadcrumbs-list {
    list-style: none;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    padding: 0;
    margin: 0;
}

.filters__title h2 {
    margin: 0;
    padding: 0;
}

.sorting-form-list {
    width: 500px;
    margin: 0;
    margin-left: 53px;
    padding: 0;
    list-style: none;
}

.catalog-wrapper {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    /*margin-left: 70px;*/
    padding: 0;
    padding-left: 70px;
    width: 760px;
}

/*кнопка выход*/
.quit {
    display: inline-block;
    vertical-align: bottom;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: #000000;
    opacity: 0.3;
}

.main-footer .quit {
    display: inline-block;
    vertical-align: bottom;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: #000000;
    opacity: 0.3;
}

.quit:hover {
    opacity: 0.6;
}

.quit:active,
.quit:focus {
    opacity: 1.0;
}

/*футер*/
.main-footer {
    color: #ffffff;
    background-color: #464646;
    margin: 0 auto;
    padding: 0;
    /*width: 1440px;*/
    width: 100%;
    min-height: 323px;
}

.main-footer .navigation-user-list {
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 23px;
}

.main-footer .login {
    flex-basis: auto;
    margin-right: 27px;
}

.main-footer .compare {
    flex-basis: auto;
    margin-right: 39px;
}

.main-footer .cart {
    flex-basis: auto;
    /*margin-right: 138px;*/
}

.main-footer .navigation-site-list {
    /*justify-content: center;*/
    align-items: center;
    flex-basis: 33%;

    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/

}

.main-footer .navigation-site-item {
    padding: 0;
    margin: 0;
    margin-top: 6px;
    margin-right: 16px;
    margin-left: 16px;
}

.main-footer .navigation-site-item:first-child {
    flex-basis: auto;

}

.main-footer .navigation-site-item:last-child {
    flex-basis: auto;
    margin-right: 0;
}

.main-footer a {
    color: inherit;
    padding: 0;
    margin: 0;
}

.main-footer .link-button {
    color: rgba(255, 255, 255, 0.7);
}

.main-footer .link-button:hover {
    color: rgba(255, 255, 255, 1.0);
}

.main-footer .link-button:focus,
.main-footer .link-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.main-footer .button:hover {
    color: rgba(255, 255, 255, 0.6);
}

.main-footer .button:active,
.main-footer .button:focus {
    color: rgba(255, 255, 255, 0.3);
}

.contacts-address,
.contacts-phone {
    flex-basis: 33%;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: normal;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #ffffff;
    background-color: inherit;
    text-transform: none;
}

/*.contacts-address {
    display: flex;
    justify-content: flex-start;
    padding-left: 2px;
}*/

.contacts-phone {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: flex-end;
    padding-right: 11px;
}

.main-footer .line {
    background-color: #ffc600;
    margin-bottom: 19px;
}

iframe {
    border: none;
}
