@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000000;
}

.line {
    width: 80px;
    height: 7px;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon:hover {
    opacity: 0.6;
}

.icon:focus,
.icon:active {
    opacity: 0.3;
}

.user-image.icon {
    margin: 0;
    margin-right: 13px;
    padding: 0;
}

.compare-image.icon {
    margin: 0;
    margin-right: 10px;
    padding: 0;
}

.cart-image.icon {
    margin: 0;
    margin-right: 10px;
    padding: 0;
}

.user-name {
    margin: 0;
    margin-right: 0px;
    padding: 0;
}

.button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.button:active,
.button:focus {
    color: rgba(0, 0, 0, 0.3);
}

/*кнопка с динамической желтой полосой*/
button.appearance-button,
a.appearance-button {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 220px;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border: none;
}

.appearance-button:hover {
    width: 220px;
    color: #000000;
    background-color: #f0c52e;
}

.appearance-button:active,
.appearance-button:focus {
    width: 220px;
    color: rgba(0, 0, 0, 0.3);
    background-color: #f0c52e;
    outline: none;
}

/*узкая желтая полоса*/
.appearance-button::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: 0;
    display: block;
    margin: 16px 0;
    width: 220px;
    height: 8px;
    background-color: #f0c52e;
}

.appearance-button:hover::before,
.appearance-button:active::before,
.appearance-button:focus::before {
    content: "";
    opacity: 0;
}

.link-button {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: #000000;
}

.link-button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.link-button:focus,
.link-button:active {
    color: rgba(0, 0, 0, 0.3);
}

/*хедер*/
.logo {
    margin: 0;
    padding: 0;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.48px;
}

.search__form {
    min-width: 440px;
    min-height: 50px;
    margin: 0;
    margin-left: 63px;
    margin-right: 98px;
    padding: 0;
    outline: 3px solid red;
}

.search__input {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: #000000;
    background-color: inherit;
    border: none;
    opacity: 0.3;
}

.search__input:hover {
    opacity: 0.6;
}

.search__input:active,
.search__input:focus {
    opacity: 1.0;
    outline: none;
}

.search__label {
    display: inline-block;
    /*height: 49px;*/
    margin: 0;
    padding: 0;
    /*vertical-align: bottom;*/
    outline: none;
}

.search__label_border {
    border-bottom: 3px solid #000000;
}

.search_image {
    margin-bottom: 0;
    padding: 0;
}

.search__button {
    width: 85px;
    height: 49px;
    margin: 0;
    padding: 0;
    background-color: rgba(247, 226, 150, 0.5);
    border: #000000 solid 3px;
    border-bottom: none;
}

.search__button:hover {
    color: #ffffff;
    background-color: #000000;
}

.search__button:active,
.search__button:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
    outline: none;
}

.open-catalog {
    color: rgba(0, 0, 0, 0.3);
}

.navigation-user-list,
.navigation-site-list,
.catalog-menu-list {
    list-style: none;
}

.main-header {
    background-color: rgba(240, 197, 46, 0.5);
}

/*main*/
/*слайдер преимуществ*/
.services-list {
    height: 319px;
    border-right: 7px solid #000000;
}

.appearance-button.appearance-button__delivery,
.appearance-button.appearance-button__warranty,
.appearance-button.appearance-button__credit {
    margin: 0;
    padding: 0;
    width: 160px;
    text-align: center;
}

.appearance-button.appearance-button__delivery::before,
.appearance-button.appearance-button__warranty::before,
.appearance-button.appearance-button__credit::before {
    width: 160px;
}

/*текущая черная кнопка*/
.appearance-button.services-item_current {
    width: 278px;
    text-align: left;
    padding-left: 25px;
    font: inherit;
    color: #f7e184;
    background-color: #000000;
}

.appearance-button.services-item_current::before {
    content: "";
    opacity: 0;
}

/*слайдер*/
.promo-slider-list,
.promo-list {
    list-style: none;
}

.promo-slider-item {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 auto;
    border: #000000 solid 1px;
    border-radius: 50%;
}

.promo-slider-item.promo-slider-item_current::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 4px;
    height: 4px;
    margin: auto;
    border: #000000 solid 1px;
    border-radius: 50%;
}

.promo-item p {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #464646;
    background-color: #ffffff;
    text-transform: none;
}

.promo-item .line {
    width: 100px;
    background-color: #ffffff;
}

.promo-item h3 {
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.47px;
    text-transform: none;
}

.counter {
    margin: 0;
    padding: 0;
    font-size: 179.2px;
    line-height: 179.2px;
    letter-spacing: 1.79px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-align: center;
    color: #ffffff;
}

.promo-item-characteristics th {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #464646;
    background-color: #ffffff;
    text-transform: none;
}

.promo-item-characteristics td {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
    font-weight: 400;
    font-family: "gilroylight", Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
    text-transform: none;
}

/*Категории товаров*/
.products-list {
    list-style: none;
}

.products-item {
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
}

.products-item:active,
.products-item:focus {
    opacity: 0.3;
}

.products-item__imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    margin: 0;
    padding: 0;
    background-color: rgba(240, 197, 46, 0.5);
}

p.products-item__imgWrapper:hover {
    background-color: rgba(240, 197, 46, 1.0);
}

.products-item:nth-child(2) .products-item__imgWrapper {
    align-items: flex-end;
}

.products-item h3 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: none;
}

/*Сервисы*/
.services,
.services p {
    background-color: #e5e5e5;
}

.services ul {
    list-style: none;
}

.services-description-item p {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #000000;
    text-transform: none;
}

.services-description-item h3 {
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    text-transform: none;
}

.services-description-item p {
    color: #464646;
}

/*Производители*/
.manufacturers-list {
    list-style: none;
}

.manufacturers-item__image {
    opacity: 0.2;
}

.opacity-1 {
    opacity: 1.0;
}

/*О нас*/
.about h2 {
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    text-transform: none;
}

.about p,
.about-partners h3 {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
    text-transform: none;
}

.about p,
.about-partners h3 {
    color: #464646;
}

.about-partners-list {
    list-style-type: circle;
}

.about-partners-item a {
    font-size: 16px;
    line-height: 40px;
    letter-spacing: normal;
    text-transform: none;
}

/*Контакты*/
.contacts h2 {
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    text-transform: none;
}

.contacts p {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #464646;
    background-color: #ffffff;
    text-transform: none;
}

.more-about.appearance-button,
.write-us.appearance-button {
    width: 260px;
    background-color: inherit;
}

.more-about.appearance-button:hover,
.write-us.appearance-button:hover {
    width: 260px;
    background-color: #f0c52e;
    cursor: pointer;
}

/*узкая желтая полоса*/
.more-about.appearance-button::before,
.write-us.appearance-button::before {
    content: "";
    width: 260px;
}

/*футер*/
.main-footer {
    color: #ffffff;
    background-color: #464646;
}

.main-footer a {
    color: inherit;
}

.main-footer-logo {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.48px;
    color: rgba(255, 198, 0, 1.0);
}

.main-footer .link-button {
    color: rgba(255, 255, 255, 0.7);
}

.main-footer .link-button:hover {
    color: rgba(255, 255, 255, 1.0);
}

.main-footer .link-button:focus,
.main-footer .link-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.main-footer .button:hover {
    color: rgba(255, 255, 255, 0.6);
}

.main-footer .button:active,
.main-footer .button:focus {
    color: rgba(255, 255, 255, 0.3);
}

.contacts-address,
.contacts-phone {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: normal;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    color: #ffffff;
    background-color: inherit;
    text-transform: none;
}

.main-footer .line {
    background-color: #ffc600;
}

.socials ul {
    list-style: none;
}

.socials-button {
    opacity: 0.3;
}

.socials-button img:hover {
    opacity: 0.6;
}

.socials-button img:active,
.socials-button img:focus {
    opacity: 0.1;
}

/*Модальное окно. Карта*/
.modal-close {
    width: 55px;
    height: 55px;
    margin: 0;
    padding: 0;
    opacity: 0.5;
    background-color: inherit;
    border-radius: 50px;
    border: none;
}

.modal-close:hover {
    opacity: 1.0;
}

.modal-close:focus,
.modal-close:active {
    opacity: 0.3;
    outline: none;
}

/*Модальное окно. Напишите нам.*/
.write-us-item__label {
    letter-spacing: normal;
    text-transform: none;
}

.write-us-item__input,
.write-us-item__textarea {
    width: 360px;
    height: 50px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: rgba(70, 70, 70, 0.4);
    background-color: rgba(242, 242, 242, 0.5);
    border: none;
}

.write-us-item__textarea {
    width: 760px;
    height: 156px;
}

.write-us-item__input:hover {
    color: rgba(70, 70, 70, 0.4);
    background-color: rgba(234, 234, 234, 0.8);
    border: none;
}

.write-us-item__input:focus {
    color: rgba(70, 70, 70, 1.0);
    background-color: rgba(255, 255, 255, 1.0);
    border: rgba(240, 197, 46, 1.0) solid 3px;
}

.write-us-item__input:invalid {
    color: rgba(70, 70, 70, 0.4);
    background-color: rgba(237, 181, 181, 0.5);
    border: none;
}

/*кнопка отправить*/
.appearance-button.submit {
    width: 200px;
    background-color: inherit;
}

.appearance-button.submit:hover {
    width: 200px;
    background-color: #f0c52e;
    cursor: pointer;
}

.appearance-button.submit:active,
.appearance-button.submit:focus {
    color: rgba(0, 0, 0, 0.3);
    background-color: #f0c52e;
}

.appearance-button.submit::before {
    content: "";
    width: 200px;
}

/*внутренняя страница*/
.page-title {
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    text-transform: none;
}

.breadcrumbs-list {
    list-style: none;
}

.breadcrumbs-item,
.breadcrumbs-item a {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.14px;
    color: rgba(0, 0, 0, 0.3);
    font-family: "open_sanslight", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
}

.breadcrumbs__to-catalog {
    margin: 0 18px 0 16px;
    padding: 0;
}

.breadcrumbs__to-current {
    margin: 0 16px 0 18px;
    padding: 0;
}

.breadcrumbs-item {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.breadcrumbs-item a:hover {
    opacity: 0.6;
}

.breadcrumbs-item a:focus,
.breadcrumbs-item a:active {
    opacity: 0.1;
}

/*фильтр*/
.filters {
    width: 468px;
    height: 1283px;
    background-color: #eeeeee;
}

.filters h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-align: center;
    color: #000000;
}

.filters__title {
    width: 468px;
    height: 57px;
    padding-top: 13px;
    background-color: rgba(219, 219, 219, 1.0);
}

.filters__item {
    width: 201px;
    margin: 0;
    margin-left: 190px;
    padding: 0;
    border: none;
}

/*фильтр стоимость*/
.range-filter {
    width: 201px;
}

.filters-form legend {
    width: 201px;
    padding-top: 15px;
    letter-spacing: 0.18px;
    text-transform: none;
    border-top: 2px solid #000000;
}

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
}

.range-controls .scale {
    height: 2px;
    background: #dbdbdb;
}

.range-controls .bar {
    width: 65%;
    height: 2px;
    background: #91c92f;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #dadada;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 0px;
}

.range-controls .toggle-max {
    left: 111px;
}

.range-controls .toggle:focus,
.range-controls .toggle:active {
    top: 29px;
    border-width: 9px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    font-family: "gilroylight", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.2);
    text-transform: none;
}

.price-controls input {
    width: 60px;
    margin-left: 3px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    font-family: "gilroylight", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.2);
    background-color: #eeeeee;
    text-transform: none;
    border: none;
}

/*фильтр цвет*/
.filter-option {
    margin-bottom: 20px;
    padding-left: 40px;
}

.filter-option label {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.14px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: rgba(0, 0, 0, 1.0);
    cursor: pointer;
    user-select: none;

}

.filter__color {
    list-style-image: url("../img/checkbox-off.svg");
}

.filter-black,
.filter-blue,
.filter-red {
    list-style-image: url("../img/checkbox-on.svg");
}

/*фильтр Bluetooth*/
.filter__bluetooth {
    list-style-image: url("../img/radio-off.svg");
}

.bluetooth__yes {
    list-style-image: url("../img/radio-on.svg");
}

/*кнопка "показать"*/
.filters__button {
    width: 200px;
    margin: 0;
    margin-left: 190px;
    padding: 0;
    background-color: inherit;
}

.filters__button:before {
    width: 200px;
    left: 0;
}

/*сортировка*/
.sorting {
    width: 972px;
    height: 70px;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

.sorting h2 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    font-family: "gilroyextrabold", Arial, sans-serif;
    color: #000000;
}

.sorting-form-list {
    list-style: none;
}

.sorting-form-item {
    display: inline-block;
}

.sorting-form-button {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    font-weight: 400;
    font-family: "open_sansregular", Arial, sans-serif;
    text-transform: none;
    color: rgba(0, 0, 0, 0.3);
}

.sorting-form-item .sorting-form-button_current {
    color: rgba(0, 0, 0, 1.0);
}

.sorting-form-button:hover {
    opacity: 0.6;
}

.sorting-form-button:focus,
.sorting-form-button:active {
    color: rgba(0, 0, 0, 1.0);
}

.sorting-button {
    width: 11px;
    height: 10px;
    margin: 0;
    padding: 0;
    opacity: 0.2;
    /*border: 6px solid transparent;
    border-bottom: 11px solid #000000;*/
}

/*.sorting-form .sorting-form-button-down {
    border: 6px solid transparent;
    border-top: 11px solid #000000;
}*/

.sorting-button_current {
    opacity: 1.0;
}

.sorting-button:hover {
    opacity: 0.4;
}

.sorting-button:focus,
.sorting-button:active {
    opacity: 1.0;
}

/*карточки*/
.catalog-list {
    list-style: none;
}

.catalog-item__title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: none;
    color: #000000;
}

.catalog-item__price {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-weight: 400;
    font-family: "gilroylight", Arial, sans-serif;
    text-transform: none;
    color: #464646;
}

.catalog-item__compare {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border: none;
    outline: none;
}

.catalog-item__compare:hover {
    color: rgba(0, 0, 0, 1.0);
}

.catalog-item__compare:focus,
.catalog-item__compare:active {
    color: rgba(0, 0, 0, 0.2);
}

/*нумерация страниц*/
.pagination {
    width: 760px;
    height: 70px;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

.pagination-list {
    display: inline-block;
    text-align: center;
    list-style: none;
}

.pagination-list li {
    display: inline-block;
}

.pagination-item {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    color: #000000;
    opacity: 0.3;
}

.pagination-item__current {
    opacity: 1.0;
}

.catalog-button {
    display: inline-block;
    text-align: center;
    width: 126px;
    height: 70px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: inherit;
    border: none;
}

.catalog-button:hover {
    background-color: #d9d9d9;
}

.catalog-button:focus,
.catalog-button:active {
    opacity: 0.3;
    background-color: #d9d9d9;
    outline: none;
}

/*кнопки на карточке*/
.buttons-wrapper {
    width: 360px;
    height: 379px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-color: rgba(238, 238, 238, 0.7);
}

.gradient-button {
    width: 200px;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    font-weight: 700;
    font-family: "gilroyextrabold", Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: transparent;
    background: linear-gradient(to top, #eeeeee 40%, #f0c52e 40%, #f0c52e 60%, #eeeeee 60%);
    border: none;
    outline: none;
}

.gradient-button:hover {
    background: #f0c52e;
}

.gradient-button:focus,
.gradient-button:active {
    color: rgba(0, 0, 0, 0.3);
    background: #f0c52e;
}

/*кнопка выход*/
.quit {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-family: "open_sanslight", Arial, sans-serif;
    text-transform: none;
    color: #000000;
    opacity: 0.3;
}

.quit:hover {
    opacity: 0.6;
}

.quit:active,
.quit:focus {
    opacity: 1.0;
}

/*футер логотип*/
.inner-page .main-footer-logo:hover {
    color: rgba(255, 198, 0, 0.6);
}

.inner-page .main-footer-logo:focus,
.inner-page .main-footer-logo:active {
    color: rgba(255, 198, 0, 0.3);
}

/*сеточные стили==========================================================*/
html,
body {
    min-width: 1440px;
    min-height: 1750px;
}

body {
     /*Временно для сетки*/
    background-image: url('../img/device-index.jpg');
    background-size: 1440px auto;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.main-header {
    position: relative;
    width: 1120px;
   /* margin-bottom: 37px;*/
    /* Временно для сетки */
    min-height: 185px;

    margin: 0 auto;
    margin-top: 40px;

    padding: 0 20px;

    outline: 4px solid red;
}

.logo {
    position: absolute;
    left: 57px;
    top: -27px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 43px;
    /* Временно для сетки */
    min-height: 185px;
    background-color: transparent;
}

/*.navigation-wrapper {
    width: 100%;
    margin-bottom: 36px;

    background-color: rgba(240, 197, 46, 0.5);

    /* Временно для сетки
    min-height: 299px;
    background-color: transparent;
}*/

/*.user-list-wrapper {
    width: 100%;
    margin-bottom: 47px;

    /* Временно для сетки
    min-height: 24px;
    outline: 3px solid blue;
}*/

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    outline: 3px solid yellow;
}

/*.user-list-wrapper .container {
    display: flex;
    justify-content: space-between;
}*/

.navigation-user-list {
    width: 1160px;
    margin: 0;

    padding: 0;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /*width: 1040px;*/
    list-style: none;
    margin-bottom: 47px;

    /* Временно для сетки */
    min-height: 24px;
    outline: 3px solid blue;
}

.search {
   /*min-width: 446px;
    /*margin-right: 80px;*/
}

.login {
   /* min-width: 280px;
    margin-right: 20px;*/
    margin: 0;
    height: 0;
    outline: 3px solid blueviolet;
}

.compare {
    /*min-width: 41px;*/
    margin: 0;
    height: 0;
    outline: 3px solid fuchsia;
}

.main-header .cart {
    /*margin-left: auto;*/
    /*margin-right: 56px;
    /*justify-self: right;*/
    margin: 0;
    height: 0;
    outline: 3px solid coral;
}

/*.navigation-lists-container {
    margin: 0;
    padding: 0;
    width: 1160px;
    margin: 0 auto;
    padding: 0 60px;
}*/

/*.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}*/

.navigation-site-list {
    width: 1040px;
    margin: 0;
    padding: 0;

    list-style: none;

    /* Временно для сетки */
    min-height: 56px;
    outline: 3px solid black;
}

/*.catalog-menu-list {
    width: 1160px;
    margin: 0;
    /*margin-top: 35px;
    padding: 0;

    list-style: none;

    /* Временно для сетки
    min-height: 129px;
}
*/
.container h1 {
    margin: 0;
    padding: 0;
}

.promo {
    margin: 0;
    padding: 0;
    min-height: 370px;
    outline: 3px solid rebeccapurple;
}

.promo h2 {
    margin: 0;
    padding: 0;
}

.promo-slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.promo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.promo-item-image {
    margin: 0;
    padding: 0;
    outline: 3px solid blueviolet;
}

.promo-item-wrapper {
    display: flex;
    justify-content: space-between;
    outline: 3px solid olivedrab;
    width: 100%;
    margin: 0;
    padding: 0;
   /* margin-bottom: 108px;*/
    min-height: 370px;
}

.promo-item-description-wrapper {
    outline: 3px solid black;
}

.products {
    margin: 0;
    padding: 0;
    outline: 3px solid red;
}

.products h2 {
    margin: 0;
    padding: 0;
}

.products-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.services {
    margin: 0;
    padding: 0;
    outline: 3px solid green;
}

.services h2 {
    margin: 0;
    padding: 0;
}

.services-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    outline: 3px solid darkblue;
}

.manufacturers {
    margin: 0;
    padding: 0;
    outline: 3px solid coral;
}

.manufacturers h2 {
    margin: 0;
    padding: 0;
}

.manufacturers-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-contracts-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    outline: 3px solid fuchsia;
}

.main-footer {
    margin: 0;
    padding: 0;
    outline: 3px solid aqua;
}

.footer-first-row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    outline: 3px solid yellow;
}

.footer-second-row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    outline: 3px solid greenyellow;
}

.navigation-site-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    outline: 3px solid deepskyblue;
}


.footer-third-row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    outline: 3px solid red;
}

.socials ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    outline: 3px solid ghostwhite;
}

/*стили внутренней страницы*/
.page-title {
    margin: 0;
    padding: 0;
}

.breadcrumbs-list {
    list-style: none;
}
.inner-page-wrapper {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    outline: 3px solid ghostwhite;
}

.filters__title h2 {
    margin: 0;
    padding: 0;
}

.inner-page .container {
    width: 1440px;
}

.sorting {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    outline: 3px solid red;
}

.sorting h2 {
    margin: 0px;
    padding: 0;
}

.sorting-form {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    outline: 3px solid blue;
}

.sorting-form-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-wrapper {
    margin: 0;
    padding: 0;
    outline: 3px solid greenyellow;
}

.sorting {
    margin: 0;
    padding: 0;
    outline: 3px solid red;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0;
    outline: 3px solid yellow;
}

.catalog-list:nth-child(2n) {
    margin-right: 0;
}

.catalog-item {
    margin: 0;
    padding: 0;
    margin-left: 40px;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    outline: 3px solid yellow;
}
